version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    labels:
      - 'dependencies'
      - 'github-actions'
      - 'security'
    reviewers:
      - 'thoroc'
    open-pull-requests-limit: 10

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
      time: '09:00'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    labels:
      - 'dependencies'
      - 'npm'
    reviewers:
      - 'thoroc'
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']

  - package-ecosystem: 'npm'
    directory: '/docs'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
      time: '09:00'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    labels:
      - 'dependencies'
      - 'npm'
      - 'documentation'
    reviewers:
      - 'thoroc'
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
